<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/style.css">
    <title>MailECA</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>MailECA</h1>
            <p>Login</p>
        </div>
    </header>
    <section>
        <div class="container">
            <form method="POST">
                <p>Nome: <input class = "text" name="name" id="name" type="text"></p>
                <p>Senha: <input class = "text" name="pass" id="pass" type="password"></p>
                <p><input type="submit" class="_bt" value="Entrar"></p>
            </form>
        </div>
    </section>
</body>
</html>